<html>
	<head>

	<title>Coupons site</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<style>
		.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  			 background-color: #E0FFFF;
        }
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #87CEFA;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		li a:hover {
		  background-color: white;
		  color: black;
		}

		</style>
	</head>

	<body>
		<ul>
			  <li><a id="header" class="active" href="/coupons">All Coupons</a></li>
				<li><a id="header" class="active" href="/profil">My used coupons</a></li>
		    <li><a id="header" class="active" href="/graveyard">Graveyard</a></li>
			  <li style="float:right"><a href="/#">Hi <%=currentUser.username%></a></li>
			  <li style="float:right"><a href="/logout">Logout</a></li>
		</ul>
