<html>
	<head>
		
	<title>Coupons site</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		
		body{
			
			font-family: Lobster;
			text-align:center;
		    padding: 30px; 
			width: 55%;
			margin: 10px auto  ;
		}
		
	</style>
	</head>
		
	<body>	
		
		<h1 style="font-size:60px; margin: 30px auto; font-family: Lobster; color: #00BFFF;">
				Welcome to coupons site
    	</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-xl-3 col-md-4 col-sm-1">
					<a href="/register">sign up</a>
				</div>
				<div class="col-lg-6 col-xl-6 col-md-4 col-sm-10">
					<div class="ui placeholder segment">
							<div class="column">
							  <form  class="ui form" action= "/login" method = "post">
								<div class="field">
								  <label style="font-size:20px;">Username</label>
								  <div class="ui left icon input">
									<input  type="text" name="username" placeholder="username">
									<i class="user icon"></i>
								  </div>
								</div>
								<div class="field">
								  <label style="font-size:20px;">Password</label>
								  <div class="ui left icon input">
									<input type="password" name="password" placeholder="password">
									<i class="lock icon"></i>
								  </div>
								</div>
								  <input style="font-family: Lobster;" class="ui blue submit button" type="submit" value="Login">
							  </form>
							</div>
						</div>
					</div>
		<div class="col-lg-3 col-xl-3 col-md-4 col-sm-1"></div>
				
		</div>
	</div>
	</body>
</html>




